<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      <%= gettext "Jarvis · May I help you" %>
    </title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="sass.html"><%= gettext "Shopping list" %></a>
            </li>
            <li>
              <a href="sass.html"><%= gettext "User groups" %></a>
            </li>
            <li>
              <a href="sass.html"><%= gettext "User settings" %></a>
            </li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li>
          <a href="sass.html"><%= gettext "Shopping list" %></a>
        </li>
        <li>
          <a href="sass.html"><%= gettext "User groups" %></a>
        </li>
        <li>
          <a href="sass.html"><%= gettext "User settings" %></a>
        </li>
      </ul>
    </header>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(".dropdown-trigger").dropdown();

      $(document).ready(function () {
        $('.sidenav').sidenav();
      });

      $(document).ready(function(){
        $('select').formSelect();
      });

      $(document).ready(function(){
        $('.tabs').tabs();
      });
    </script>
  </body>
</html>
