<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= gettext "Jarvis · May I help you" %></title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <header>
    <section>
      <!-- Dropdown structure shopping list -->
      <ul id="shoppinglist_dropdown_desktop" class="dropdown-content">
        <li>
          <%= link gettext("Current"), to: Routes.shopping_list_path(@conn, :index_open_lists) %>
        </li>
        <li>
          <%= link gettext("All lists"), to: Routes.shopping_list_path(@conn, :index) %>
        </li>
      </ul>

      <!-- DESKTOP -->
      <!-- Main nav -->
      <nav>
        <div class="nav-wrapper" style="background: #ff9900;">
          <a href="/" class="brand-logo" style="margin: 0.1rem">
            <img class="responsive-img" style="width: 8rem;" src="<%= Routes.static_path(@conn, "/images/logo_jarvis.svg") %>" alt="Phoenix Framework Logo"/>
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down" style="margin: 0rem 1rem 1rem 1rem">
            <!-- Dropdown shopping list -->
            <%= if @conn.assigns[:user] do %>
              <li><a class="dropdown-trigger" href="#!" data-target="shoppinglist_dropdown_desktop">
                <%= gettext("Shopping list") %>
              <i class="material-icons right">arrow_drop_down</i></a></li>
              <li>
                <%= link gettext("User groups"), to: Routes.user_group_path(@conn, :index) %>
              </li>
              <li>
                <%= link gettext("Logout"), to: Routes.auth_path(@conn, :signout) %>
              </li>
              <li>
                <div style="font-size: 0.65rem; ; border-left: 0.1rem solid rgb(144,144,144); padding-left: 1rem;">
                  <%= gettext "Sign in as" %>
                  <%= @conn.assigns[:user].name %>
                </div>
              </li>
            <% else %>
              <li>
                <%= link gettext("Sign in"), to: Routes.auth_path(@conn, :request, "auth0") %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <!-- MOBILE -->
      <!-- Dropdown structure shopping list -->
      <ul id="shoppinglist_dropdown_mobile" class="dropdown-content">
        <li>
          <%= link gettext("Current"), to: Routes.shopping_list_path(@conn, :index_open_lists) %>
        </li>
        <li>
          <%= link gettext("All lists"), to: Routes.shopping_list_path(@conn, :index) %>
        </li>
      </ul>

      <!-- Side nav -->
      <ul class="sidenav" id="mobile-demo">
        <!-- Dropdown shopping list -->
        <%= if @conn.assigns[:user] do %>
          <li><a class="dropdown-trigger" href="#!" data-target="shoppinglist_dropdown_mobile">
            <%= gettext("Shopping list") %>
          <i class="material-icons right">arrow_drop_down</i></a></li>
          <li>
            <%= link gettext("User groups"), to: Routes.user_group_path(@conn, :index) %>
          </li>
          <li>
            <%= link gettext("Logout"), to: Routes.auth_path(@conn, :signout) %>
          </li>
          <li>
            <div class="center-align" style="font-size: 0.7rem; border-top: 0.1rem solid #000;">
              <%= gettext "Sign in as" %>
              <%= @conn.assigns[:user].name %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link gettext("Sign in"), to: Routes.auth_path(@conn, :request, "auth0") %>
          </li>
        <% end %>
      </ul>
    </section>
  </header>

  <main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= render @view_module, @view_template, assigns %>
  </main>

  <footer>
    <div>
        <span style="color: #429add;"" >
          <a href="https://github.com/corka149/jarvis">jARVIS -  Made by corka149</a>
          &nbsp;|&nbsp;
          <i class="material-icons" style="font-size: 0.8rem;">language</i>            
          <%= link gettext("DE"), to: Routes.page_path(@conn, :set_language, "de"), method: :post %>
          &nbsp;
          <%= link gettext("EN"), to: Routes.page_path(@conn, :set_language, "en"), method: :post %>
        </span>
    </div>
  </footer>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(".dropdown-trigger").dropdown();

    $(document).ready(function () {
      $('.sidenav').sidenav();
    });

    $(document).ready(function(){
      $('select').formSelect();
    });

    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>
</body>

</html>