<h1><%= dgettext "accounts", "Edit user group" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_group_path(@conn, :update, @user_group)) %>

<span><%= link gettext("Back"), to: Routes.user_group_path(@conn, :index), class: "btn orange" %></span>
