<h1>Edit User group</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_group_path(@conn, :update, @user_group)) %>

<span><%= link "Back", to: Routes.user_group_path(@conn, :index) %></span>
