<h1>
  <%= dgettext "accounts", "Show user group" %>
</h1>

<ul>

  <li>
    <strong><%= gettext "Name:" %></strong>
    <%= @user_group.name %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.user_group_path(@conn, :edit, @user_group), class: "btn orange" %></span>
<span><%= link gettext("Back"), to: Routes.user_group_path(@conn, :index), class: "btn orange" %></span>
