{{ define "lists_overview" }}
<table id="lists-overview">
    <tr>
        <th>Für</th>
        <th>Am</th>
        <th></th>
    </tr>

    <tr>
        <td>Bäcker</td>
        <td>01.01.2023</td>
        <td style="width: 10%">
            <a href="/lists/1">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</table>
{{ end }}