<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>jARVIS</title>
</head>
<body>
    

    {{ template "menu" }}

    <main class="container">
        <div>
            <h2 class="content-subhead">
                Willkommen bei jARVIS!
            </h2>
        </div>
        <p>
            Wie kann ich helfen?
        </p>
        <img class="pure-img" alt="jARVIS" src="/images/jarvis.png">

        <script src="js/index.js"></script>
    </main>
</body>
</html>