{{ template "_header.gohtml" . }}

<h2>
    Willkommen bei jARVIS!
</h2>
<p>
    Wie kann ich helfen?
</p>
<img class="pure-img" alt="jARVIS" src="/public/images/jarvis.png">

{{ template "_footer.gohtml" . }}
