{{ template "_header.gohtml" . }}

<form action="/login" method="post" class="login">
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email">

    <label for="password">Passwort</label>
    <input type="password" name="password" id="password">

    <button type="submit">Anmelden</button>
</form>

{{ template "_footer.gohtml" . }}
