:root {
    --primary-color: #ff9800;
    --secondary-color: #4c1683;
}

form.login {
    padding-left: 15rem;
    padding-right: 15rem;
}

@media (max-width: 1024px) {
    form.login {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 512px) {
    form.login {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
