<div>
  <h2 class="content-subhead">
    <%= dgettext "shoppinglists", "Shopping list" %> for <%= @shopping_list.planned_for %>
  </h2>
</div>
<!-- product list -->
<%= render "list.html", assigns %>
