<div *ngIf="!!listForm">
  <form [formGroup]="listForm">
    <!-- OWNER -->
    <div>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Für</mat-label>
        <input matInput formControlName="owner" />
      </mat-form-field>
    </div>

    <div>
      <!-- OPEN -->
      <mat-slide-toggle matInput formControlName="open" style="width: 45%"
        >Offen</mat-slide-toggle
      >
      <!-- OCCURS AT -->
      <mat-form-field appearance="fill" style="width: 53%">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="occursAt" />
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>

<div *ngIf="!listForm">
  <p>Loading...</p>
</div>
