    <%= form_for @changeset, "#", [phx_submit: :save], fn f -> %>
      <%= label f, :name %>
      <%= text_input f, :name %>
      <%= error_tag f, :name %>
    
      <%= label f, :amount %>
      <%= number_input f, :amount %>
      <%= error_tag f, :amount %>
    
      <%= submit "Save" %>
    <% end %>
