/* This file is for your main application css. */

body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
CUSTOM
*/

.content-subhead,
.center-align {
    text-align: center;
}

/* HEAD */
.header {
    background-color: #ff9800;
}

a.brand-logo>img {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
}

/* TABLES */
.pure-table {
    width: 100%;
}

/* MENU */
.menu-item-header {
    padding: 0.6rem 0 0.6rem 0.6rem;
    font-size: 0.7rem;
    font-weight: bold;
}

/* BUTTON */
.button-bar {
    border-bottom: rgb(200, 200, 200) solid 1px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.icon-button {
    font-size: 0.25rem;
    border-radius: 25%;
}

.primary-button,
.danager-button,
.secondary-button {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.primary-button {
    background-color: #ff9800;
    margin-right: 1rem;
}

.secondary-button {
    background-color: #4c1683;
    margin-right: 1rem;
}

.danager-button {
    background-color: red;
    margin-right: 1rem;
}

/* READ-ONLY */
.read-only-label {
    font-size: 0.9rem;
}

.read-only-value {
    font-size: 1.1rem;
}

/* INPUT */
.pure-form select,
.pure-form input {
    width: 50%;
}
.pure-form input[type="date"] {
    width: 10rem;
}

@media (min-width: 25em) and (max-width: 48em) {
    /* Only apply this when the window is small.
    */
    .pure-form select,
    .pure-form input {
        width: 60%;
    }
}

@media (max-width: 24em) {
    /* Only apply this when the window is small.
    */
    .pure-form select,
    .pure-form input {
        width: 100%;
    }
}

/* TYPO */
.hint {
    font-size: small; 
    color: rgba(0, 0, 0, 0.6); 
    padding-bottom: 1rem;
}
