<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket();
  });
</script>
<section >
  <h3><%= gettext "Welcome to %{name}!", name: "jARVIS" %></h3>
  <p><%= gettext "How can I help you?" %></p>
  <img class="responsive-img" src="<%= Routes.static_path(@conn, "/images/jarvis.png") %>" alt="Phoenix Framework Logo"/>
</section>
