package templates

import "github.com/corka149/jarvis/datastore"

templ MealsIndex(meals []datastore.Meal) {
    <div>
        <h1>Meals</h1>
        <ul>
        for _, meal := range meals {
            <li>
                {meal.Name}
            </li>
        }
        </ul>
    </div>
}
