<h1 class="text-2xl font-bold mb-6 text-center">Anmelden</h1>
@if (!!loginForm) {
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- NAME -->
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Benutzername</mat-label>
        <input matInput formControlName="username" autocomplete="off" />
      </mat-form-field>
      <!-- PASSWD -->
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="off"
        />
      </mat-form-field>
      <button
        mat-raised-button
        style="float: right"
        color="primary"
        [disabled]="!loginForm.valid"
      >
        Anmelden
      </button>
    </form>
    @if (error) {
      <mat-error>
        {{ error }}
      </mat-error>
    }
  </div>
}
