<h1 style="text-align: center">Anmelden</h1>
<div *ngIf="!!loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- NAME -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Benutzername</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <!-- PASSWD -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button
      mat-raised-button
      style="float: right"
      color="primary"
      [disabled]="!loginForm.valid"
    >
      Anmelden
    </button>
  </form>
  <mat-error *ngIf="error">
    {{ error }}
  </mat-error>
</div>
