<div>
  <h2 class="center-align">
    <%= dgettext "shoppinglists", "Edit shopping list" %>
  </h2>
</div>

<!-- Buttons -->
<div class="button-bar">
  <%= back_button(Routes.shopping_list_path(@conn, :index_open_lists)) %>
</div>

<!-- Form -->
<%= render "form.html", Map.put(assigns, :action, Routes.shopping_list_path(@conn, :update, @shopping_list)) %>
