<div>
  <h2 class="center-align">
    <%= dgettext "shoppinglists", "All shopping lists" %>
  </h2>
</div>

<!-- Buttons -->
<div>
  <%= edit_button(@conn) %>
</div>

<!-- Data table -->
<div>

</div>
