<h1>New Shopping list</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.shopping_list_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.shopping_list_path(@conn, :index), class: "btn orange"  %></span>
