<h1>Show Shopping list</h1>

<ul>

  <li>
    <strong>Done:</strong>
    <%= @shopping_list.done %>
  </li>

  <li>
    <strong>Planned for:</strong>
    <%= @shopping_list.planned_for %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.shopping_list_path(@conn, :edit, @shopping_list), class: "btn orange"  %></span>
<span><%= link gettext("Back"), to: Routes.shopping_list_path(@conn, :index), class: "btn orange"  %></span>
